# control flow

## if function

In [1]:
x=0 #we are assigning a variable x with a value of 0

if x>0:
    print("x is positive")
elif x==0:
    print("x is zero")
else:
    print("x is negative")

x is zero

## for loop

In [ ]:
n=[1,2,3,4,5] #list of integer from 1 to 5

In [4]:
#print numbers
n=[1,2,3,4,5]
for num in n:
    print(num)

1
2
3
4
5

In [6]:
#print sqare of numbers
for num in n:
    print("square of", num,":" ,num*num)

square of 1 : 1
square of 2 : 4
square of 3 : 9
square of 4 : 16
square of 5 : 25

In [7]:
#print cube of numbers
for num in n:
    print("cube of", num,":" ,num*num*num)

cube of 1 : 1
cube of 2 : 8
cube of 3 : 27
cube of 4 : 64
cube of 5 : 125

In [9]:
#print even and odd numbers

for num in n:
    if num%2==0:
        print(num,"number is even.")
    else:
        print(num,"number is odd.")

1 number is odd.
2 number is even.
3 number is odd.
4 number is even.
5 number is odd.

In [10]:
n=[100,88,38,79]
for num in n:
    if num%2==0:
        print(num,"number is even.")
    else:
        print(num,"number is odd.")

100 number is even.
88 number is even.
38 number is even.
79 number is odd.

## while loop

In [20]:
#here we are executing the blck of code till the count is less than 5.
count=0 #initiallizing or string the count with 0.

while count<5:
    print("before increment :" ,count)
    count=count+1 #count +=1
    
    print("after increment :" ,count)

before increment : 0
after increment : 1
before increment : 1
after increment : 2
before increment : 2
after increment : 3
before increment : 3
after increment : 4
before increment : 4
after increment : 5

In [19]:
#here we are executing the blck of code till the count is less than 5.
count=0 #initiallizing or string the count with 0.

while count<5:
    print("before increment :" ,count)
    count=count+1 #count +=1

before increment : 0
before increment : 1
before increment : 2
before increment : 3
before increment : 4

In [14]:
#here we are executing the blck of code till the count is less than 5.
count=10 #initiallizing or string the count with 0.

while count>5:
    print("before decrement :" ,count)
    count=count-1 #count +=1
    
    print("after decrement :" ,count)

before decrement : 10
after decrement : 9
before decrement : 9
after decrement : 8
before decrement : 8
after decrement : 7
before decrement : 7
after decrement : 6
before decrement : 6
after decrement : 5

In [17]:
#here we are executing the blck of code till the count is less than 5.
count=10 #initiallizing or string the count with 0.

while count>5:
    print("before decrement :" ,count)
    count=count-1 
    print("i'm out of while loop")

before decrement : 10
i'm out of while loop
before decrement : 9
i'm out of while loop
before decrement : 8
i'm out of while loop
before decrement : 7
i'm out of while loop
before decrement : 6
i'm out of while loop

In [18]:
#here we are executing the blck of code till the count is less than 5.
count=10 #initiallizing or string the count with 0.

while count>5:
    print("before decrement :" ,count)
    count=count-1
print("i'm out of while loop")

before decrement : 10
before decrement : 9
before decrement : 8
before decrement : 7
before decrement : 6
i'm out of while loop

# transfer statement

## break

In [1]:
# range(10)
#range is a function which creates a sequence of value
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
num_list = list(range(10))
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
for i in range(10):
    if i == 5:
        break
    print(i)
    
print("i'm out of for loop")

0
1
2
3
4
i'm out of for loop

## continue

In [7]:
for i in range(10):
    if i == 5:
        continue
    print(i)
    
print("i'm out of for loop")

0
1
2
3
4
6
7
8
9
i'm out of for loop

## pass

In [7]:
for i in range(10):
    if i == 5:
        pass
    print(i)
    
print("i'm out of for loop")

0
1
2
3
4
6
7
8
9
i'm out of for loop

In [8]:
for i in range(10):
     pass
    
print("i'm out of for loop")

i'm out of for loop

# data structures

### list

In [1]:
my_list = [1,2,3,4,5] #a list of integers
my_list2 = ["apple","banana","cherry"] #a list of strings
my_list3 = [] # an empty list
my_list4 = [1,2.3,"apple"] #a list of numbers and strings

In [12]:
my_list = [1,2,3,4,5]
type(my_list)

list

In [14]:
dir(my_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
for num in my_list:
    print(num)

1
2
3
4
5

In [15]:
for index,num in enumerate(my_list):
    print(index,":",num)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5

In [18]:
print(my_list[0]) #frist element
print(my_list2[2])# third element
print(my_list4[-1])#last element

1
cherry
apple

In [19]:
fruit = "appple"
print(fruit)
print(fruit[::-1])

appple
elpppa

In [20]:
"eye" ,"mom" ,"malyalam" #palindrome
#identify whether word is palindrome or not.

('eye', 'mom', 'malyalam')

In [21]:
print(my_list)
#chsnges the first element to 10
my_list[0] = 10
print(my_list)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [ ]:
###slicing object[start:end:]
#### default start = 0, end = len(object),step=1

In [22]:
print(my_list[1:4]) #elements from index 1 to 3
print(my_list[:3]) #element from beginning to index 2
print(my_list[2:1])#element from index 2 to the end

[2, 3, 4]
[10, 2, 3]
[]

In [23]:
my_list2.append("mango") #adds mango to the end of the list
print(my_list)

[10, 2, 3, 4, 5]

In [24]:
#removes the last element and returns
my_list2.pop()
print(my_list2)

['apple', 'banana', 'cherry']

In [25]:
#removes the element 2 from the list
my_list.remove(2)
print(my_list)

[10, 3, 4, 5]

### Tuples

In [2]:
#a tuple of integers
my_tuple = (1,2,3,4,5)

#a tuple of string
my_tuple2 = ("john","sarah","jack")

#a empty tuple
my_tuple3 = ()

In [3]:
type(my_tuple)

tuple

In [4]:
dir(my_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
#prints first element
print(my_tuple[0])

#prints third element
print(my_tuple2[2])

#prints last element
print(my_tuple[-1])

1
jack
5

In [6]:
#prints elementd from index 1 to 3
print(my_tuple[1:4])

#prints element from beginning to index 2
print(my_tuple2[:3])

#prints elements from index 2 to the end
print(my_tuple[2:])

(2, 3, 4)
('john', 'sarah', 'jack')
(3, 4, 5)

In [7]:
#(numbers of elements in the tuple)
print(len(my_tuple))

5

### sets

In [8]:
#a set of integers
my_set = {1,2,3,4,5}

#a set of strings
my_set2 = {"apple","banana","cherry"}

#an empty set
my_set3 = set()

In [9]:
#adds 6 to the set
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [10]:
type(my_set)

set

In [11]:
dir(my_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [16]:
my_set = {1,2,3,4,5}
my_set.add(6)
# removesthe elements 3 from the set
my_set.remove(3)

#print{1,2,4,5,6}
print(my_set)

#removes the element 7 if it exiists in the set
my_set.discard(7)

print(my_set)

{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6}

In [17]:
#print false(3 is not in the set)
print(3 in my_set)

#prints true(4 is in the set)
print(4 in my_set)

False
True

In [18]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

#union of two sets
print(set1.union(set2))

#intersection pf two sets
print(set1.intersection(set2))

#difference of two sets
print(set1.difference(set2))

#symmetric dfference of two sets
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [19]:
#print 5 (number of elements in the set)
print(len(my_set))

5

### Dictionary

In [20]:
#a dictionary with string keys and integers values
my_dict = {"apple": 2, "banana": 4, "cherry": 6}

#a dictionary with integers keys and string values
my_dict2 = {1: "apple", 2: "banana", 3: "cherry"}

#an empty dictionary
my_dict3 = {}

In [21]:
#the value associated with the key "apple"
print(my_dict["apple"])

2

In [22]:
#changes the value associated with the key "banana" to 5
my_dict["banana"] = 5

print(my_dict)

{'apple': 2, 'banana': 5, 'cherry': 6}

In [23]:
#adds a new key value pair to the dictionary
my_dict["orange"] = 3
print(my_dict)

{'apple': 2, 'banana': 5, 'cherry': 6, 'orange': 3}

In [24]:
#removes the key value pair with the key "cherry" from the dictionary
del my_dict["cherry"]
print(my_dict)

{'apple': 2, 'banana': 5, 'orange': 3}

In [25]:
#prints true (the key "apple" is in the dictionary)
print("apple" in my_dict)

True

In [26]:
#a list of all keys in the dictionary
print(my_dict.keys())

#a list of all values in the dictionary
print(my_dict.values())

dict_keys(['apple', 'banana', 'orange'])
dict_values([2, 5, 3])

In [27]:
#number of keys values pairs in the dictionary
print(len(my_dict))

3

In [28]:
type(my_dict)

dict

In [29]:
dir(my_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## FUNCTIONS

### IN BUILT FUNCTIONS

In [1]:
## data type conversions function. int,float,str
a = float(input())

4.56

In [2]:
type(a)

float

In [3]:
range(11) #create sequence till 10 it would give 10+1
# range(start,stop,step)

range(0, 11)

In [4]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
10,20,30,40,50,60,70,80,90,100

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [6]:
list(range(10,101,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
for num in list(range(0,101,10)):
    print(num)

0
10
20
30
40
50
60
70
80
90
100

In [9]:
unordered_list = [20,30,45,10,67,49,78,31]

In [10]:
sorted(unordered_list,) #ascending order

[10, 20, 30, 31, 45, 49, 67, 78]

In [11]:
sorted(unordered_list, reverse=True) #descending order

[78, 67, 49, 45, 31, 30, 20, 10]

In [12]:
sorted?

In [16]:
name_list = ["ved" , "rahul" , "alok" , "nidhi" , "suman"]

In [17]:
sorted(name_list)

['alok', 'nidhi', 'rahul', 'suman', 'ved']

In [21]:
name_list = ["ved" , "rahul" , "alok" , "nidhi" , "suman"]
age_list = [32,25,34,29,28]
job_list = ["data scientist" , "data analyst" , "flight analyst" , "machine learning engineer" , "bi analyst"]

In [22]:
zip(name_list,age_list)

In [23]:
list(zip(name_list,age_list,job_list))

[('ved', 32, 'data scientist'),
 ('rahul', 25, 'data analyst'),
 ('alok', 34, 'flight analyst'),
 ('nidhi', 29, 'machine learning engineer'),
 ('suman', 28, 'bi analyst')]

In [24]:
for name,age in list(zip(name_list,age_list)):
    if age>=30:
        print(name, "is experienced")
    else:
        print(name, "is less experienced")

ved is experienced
rahul is less experienced
alok is experienced
nidhi is less experienced
suman is less experienced

In [26]:
for name,age,job in list(zip(name_list,age_list,job_list)):
    if age>=30:
        print(name, "is experienced" , job)
    else:
        print(name, "is less experienced" , job)

ved is experienced data scientist
rahul is less experienced data analyst
alok is experienced flight analyst
nidhi is less experienced machine learning engineer
suman is less experienced bi analyst

### LAMBDA FUNCTIONS

In [27]:
name_list = ["ved" , "rahul" , "alok" , "nidhi" , "suman"]

In [29]:
#if len(name)%2==0:
#    print(name)

In [30]:
for name in name_list:
    if len(name)%2==0:
        print(name)

alok

In [33]:
filter(lambda x: len(x)%2==0 ,name_list)

In [34]:
list(filter(lambda x: len(x)%2==0 ,name_list))

['alok']

In [35]:
def filter_name(obj_list):
    for obj in obj_list:
        if len(obj)%2==0:
            print(obj)

In [36]:
filter_name(name_list)

alok

In [37]:
check_list = ["mahesh" , "joe" , "sema" , "rose" , "lily" , "suresh" , "rahul"]

In [39]:
filter_name(check_list)

mahesh
sema
rose
lily
suresh

In [40]:
list(filter(lambda x: len(x)%2==0 ,check_list))

['mahesh', 'sema', 'rose', 'lily', 'suresh']

In [41]:
list(filter(lambda x: len(x)%2==0 ,check_list))
list(filter(lambda x: len(x)%2==0 ,age_list))

TypeError: object of type 'int' has no len()

In [42]:
try:
    list(filter(lambda x: len(x)%2==0 ,age_list))
except:
    pass

In [43]:
try:
    list(filter(lambda x: len(x)%2==0 ,age_list))
except (typeerror , indexerror) as e:
    print(e)

NameError: name 'typeerror' is not defined

In [47]:
name_list = ["ved" , "rahul" , "alok" , "nidhi" , "suman"]

In [50]:
try:
    print(list(filter(lambda x: len(x)%2==0 ,name_list)))
except typeerror  as e:
    print(e)

['alok']

In [51]:
'''
Exercise 112:Remove Outliers
(Solved, 44 Lines)
When analysing data collected as part of a science experiment it may be desirable
to remove the most extreme values before performing other calculations. 
Write a function that takes a list of values and an non-negative integer, n, as its parameters.
The function should create a new copy of the list with the n largest elements and the
n smallest elements removed.
Then it should return the new copy of the list as the function’s only result. 
The order of the elements in the returned list does not have to
match the order of the elements in the original list.

Write a main program that demonstrates your function. 
It should read a list of numbers from the user and remove the two largest and two smallest values from it by
calling the function described previously.

Display the list with the outliers removed,followed by the original list. 
Your program should generate an appropriate error message if the user enters less than 4 values.
'''

'\nExercise 112:Remove Outliers\n(Solved, 44 Lines)\nWhen analysing data collected as part of a science experiment it may be desirable\nto remove the most extreme values before performing other calculations. \nWrite a function that takes a list of values and an non-negative integer, n, as its parameters.\nThe function should create a new copy of the list with the n largest elements and the\nn smallest elements removed.\nThen it should return the new copy of the list as the function’s only result. \nThe order of the elements in the returned list does not have to\nmatch the order of the elements in the original list.\n\nWrite a main program that demonstrates your function. \nIt should read a list of numbers from the user and remove the two largest and two smallest values from it by\ncalling the function described previously.\n\nDisplay the list with the outliers removed,followed by the original list. \nYour program should generate an appropriate error message if the user enters less than 4 values.\n'

In [52]:
input_value = [34,56,78,23,1,2,99,101]

# find out largest 2 and smallest 2.
sorted_input = sorted(input_value)
print(sorted_input)

# remove largest and second largest.
sorted_input.pop()
print(sorted_input)
sorted_input.pop()

print(sorted_input)

# remove smallest and second smallest.
sorted_input.pop(0)
print(sorted_input)
sorted_input.pop(0)
print(sorted_input)

[1, 2, 23, 34, 56, 78, 99, 101]
[1, 2, 23, 34, 56, 78, 99]
[1, 2, 23, 34, 56, 78]
[2, 23, 34, 56, 78]
[23, 34, 56, 78]

In [53]:
def remove_outlier_2(obj_list,n=2):
    # find out largest 2 and smallest 2.
    sorted_input = sorted(obj_list)
    for i in range(n):
        # remove largest
        sorted_input.pop()
        # remove smallest
        sorted_input.pop(0)
        
    if len(sorted_input) >= 1:            
        return sorted_input
    else:
        return "Error: User has given less input values."

In [54]:
remove_outlier_2(input_value,n=2)

[23, 34, 56, 78]

In [55]:
new_list = [100,1000,876,456,45,1,23,1005]

In [56]:
remove_outlier_2(new_list)

[45, 100, 456, 876]

In [57]:
def remove_outlier(obj_list):
    sorted_input = sorted(obj_list)
    sorted_input.pop()
    sorted_input.pop()
    sorted_input.pop(0)
    sorted_input.pop(0)
    return sorted_input

In [58]:
remove_outlier(input_value)

[23, 34, 56, 78]

In [59]:
new_list = [100,1000,876,456,45,1,23,1005]

In [60]:
remove_outlier(new_list)

[45, 100, 456, 876]

In [61]:
filter?

In [62]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [63]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5, 7, 9]

In [ ]:
def say_hello():
    print("Hello, World!")

say_hello()

In [ ]:
import random

def rand_num():
    return random.randint(1,10)

result = rand_num()
print(result)

In [ ]:
def add_numbers(a,b):
    return a+b

result = add_numbers(5,10)
print(result)

In [ ]:
def greet(name="world"):
    print("Hello," + name + "!")

greet("John")
greet()

In [ ]:
def print_arguments(*args, **kwargs):
    for arg in args:
        print(arg)
    for key, value in kwargs.items():
        print(key + ": " + value)

 # Positional arguments
result = add_numbers(5, 10)
print(result)

 # Keyword argument
greet(name="John")

 # Mixed arguments
print_arguments("a", "b", key1="value1", key2="value2")

In [ ]:
import math

x = 16
y = math.sqrt(x)
print(y)

In [ ]:
from math import sqrt

x = 16
y = sqrt(x)
print(y)

In [ ]:
import random

#generate a random integer between 0 and 9 (inclusive)
x = random.randint(0,9)
print(x)

#generate a random floating-point number between 0 and 1
y = random.random()
print(y)

#shuffle a list randomly
my_list = [1,2,3,4,5]
random.shuffle(my_list)
print(my_list)

#choose a random element from a list
my_list2 = ["apple","banana","cherry"]
random_element = random.choice(my_list2)
print(random_element)

In [ ]:
try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    z = x / y
    print(z)
except ZeroDivisionError:
    print("Error: division by zero")
except ValueError:
    print("Error: invalid input")

In [ ]:
x = -1

try:
    if x < 0:
        raise ValueError("x must be positive")
except ValueError as e:
    print("Error:", str(e))